@import 'tailwindcss';
@import "tailwindcss/preflight";
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  }

  ::selection {
    @apply bg-white/10;
  }
}

/* Custom Scrollbar */
 .custom-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
} 

